body { 
    overflow: hidden;
}


.ball {
    width:100px;
    height:100px;
    background: -o-radial-gradient(44% 28%, farthest-side, #ffa3a3, red 30%, #800000 150%);
    background: radial-gradient(farthest-side at 44% 28%, #ffa3a3, red 30%, #800000 150%);
    border: 1px solid #000;
    border-radius: 50%;

    position:relative;
    left:0;
    top:0;
    z-index: 1;

    animation: bounce 7.8s linear .17s;
    -webkit-animation: bounce 7.8s linear .17s;
}

@-webkit-keyframes bounce {
    16%  {
        top: 500px;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        -webkit-transform: scale(1.08, .92) rotate(140deg);
                transform: scale(1.08, .92) rotate(140deg);
    }
    32% {
        top: 275px;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-transform: rotate(280deg);
                transform: rotate(280deg);
    }
    48%  {
        top: 500px;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        -webkit-transform: scale(1.04, .96) rotate(400deg);
                transform: scale(1.04, .96) rotate(400deg);
    }
    62% {
        top: 375px;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-transform: rotate(500deg);
                transform: rotate(500deg);
    }
    78% {
        top: 500px;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-transform: scale(1.02, .98) rotate(580deg);
                transform: scale(1.02, .98) rotate(580deg);
    }
    90% {
        top: 450px;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-transform: rotate(640deg);
                transform: rotate(640deg);
    }
    100% {
        -webkit-transform: scale(1.01, .99) rotate(680deg);
                transform: scale(1.01, .99) rotate(680deg);
        top: 500px;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        left:100%;
    }
}

@keyframes bounce {
    16%  {
        top: 500px;
        animation-timing-function: ease-out;
        transform: scale(1.08, .92) rotate(140deg);
    }
    32% {
        top: 275px;
        animation-timing-function: ease-in;
        transform: rotate(280deg);
    }
    48%  {
        top: 500px;
        animation-timing-function: ease-out;
        transform: scale(1.04, .96) rotate(400deg);
    }
    62% {
        top: 375px;
        animation-timing-function: ease-in;
        transform: rotate(500deg);
    }
    78% {
        top: 500px;
        animation-timing-function: ease-in;
        transform: scale(1.02, .98) rotate(580deg);
    }
    90% {
        top: 450px;
        animation-timing-function: ease-in;
        transform: rotate(640deg);
    }
    100% {
        transform: scale(1.01, .99) rotate(680deg);
        top: 500px;
        animation-timing-function: ease-out;
        left:100%;
    }
}

.ball-shadow {
    position: absolute;
    top: 600px;
    width: 50px;
    height: 30px;
    background-color: rgba(0, 0, 0, .16);
    border-radius: 50%;
    opacity: 0;

    animation: shadowMe 7.9s linear;
    -webkit-animation: shadowMe 7.9s linear;
}

@-webkit-keyframes shadowMe {
    0% {
        left: 0%;
        opacity: .2;
    }

    18% {
        opacity: 1;
        -webkit-transform: scaleX(1.8);
                transform: scaleX(1.8);
    }

    32% {
        opacity: .35;
        -webkit-transform: scaleX(.7);
                transform: scaleX(.7);
    }

    48% {
        opacity: 1;
        -webkit-transform: scaleX(1.6);
                transform: scaleX(1.6);
    }

    62% {
        opacity: .6;
        -webkit-transform: scaleX(.9);
                transform: scaleX(.9);
    }

    78% {
        opacity: 1;
        -webkit-transform: scaleX(1.8);
                transform: scaleX(1.8);
    }

    90% {
        opacity: .8;
        -webkit-transform: scaleX(1.4);
                transform: scaleX(1.4);
    }

    100% {
        opacity: .8;
        -webkit-transform: scaleX(1.8);
                transform: scaleX(1.8);
        left: 100%;
    }
}

@keyframes shadowMe {
    0% {
        left: 0%;
        opacity: .2;
    }

    18% {
        opacity: 1;
        transform: scaleX(1.8);
    }

    32% {
        opacity: .35;
        transform: scaleX(.7);
    }

    48% {
        opacity: 1;
        transform: scaleX(1.6);
    }

    62% {
        opacity: .6;
        transform: scaleX(.9);
    }

    78% {
        opacity: 1;
        transform: scaleX(1.8);
    }

    90% {
        opacity: .8;
        transform: scaleX(1.4);
    }

    100% {
        opacity: .8;
        transform: scaleX(1.8);
        left: 100%;
    }
} 
